__pycache__
alpha-pose-results-test.json
alpha-pose-results-val.json
test-predict/*
val-predict/*
val-predict-bak/*
test-predict-bak/*
keypoint_result*
pose-seq-nms.py
*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
